@font-face {
    font-family: 'Gilroy-ExtraBold';
    src: url('fonts/gilroyextrabold.woff2') format('woff2'),
        url('fonts/gilroyextrabold.woff') format('woff');
    font-weight: 700;
    font-style: normal;  
}

@font-face {
    font-family: 'Gilroy-Light';
    src: url('fonts/gilroylight.woff2') format('woff2'),
        url('fonts/gilroylight.woff') format('woff');
    font-weight: 200;
    font-style: normal;  
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('fonts/opensans.woff2') format('woff2'),
        url('fonts/opensans.woff') format('woff');
    font-weight: 400;
    font-style: normal;  
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('fonts/opensanslight.woff2') format('woff2'),
        url('fonts/opensanslight.woff') format('woff');
    font-weight: 300;
    font-style: normal;  
}

body {
   margin: 0;
   padding: 0;

   font-family: 'OpenSans-Regular', sans-serif;
   font-size: 15px;
   color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
}

h1 {
    font-family: 'Gilroy-ExtraBold', sans-serif;
    font-size: 47px;
    color: #000000;
}

h2  {
    font-family: 'Gilroy-ExtraBold', sans-serif;
    font-size: 47px;
    color: #000000;
}

.h2-line {
    position: relative;
}

.h2-line::before {
    content: '';
    position: absolute;
    bottom: 97px; 
    height: 7px;
    width: 80px;
    background-color: #000000;
}

h3 {
    font-family: 'Gilroy-ExtraBold', sans-serif;
    font-size: 47px;
}

.list {
    list-style: none;
}

.list li {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 26px; 
}

.list li::before {
    content: '';
    margin-right: 26px;
    height: 4px;
    width: 4px;
    border: #e6e6e6 solid 2px;
    border-radius: 3px;
}

.button {
    position: relative;
    border: none;
    background-color: transparent;
    font-family: 'Golroy-ExtraBold', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 14px 50px;
}

.button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    width: 100%;
    height: 8px;
    background-color: #f0c52e;
    transition: 0.3s;
    z-index: -1;
}

.button:hover::before {
    content: '';
    height: 100%;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
}

fieldset {
    border: none;
    border-bottom: #000000 solid 2px;
}

.hidden {
    display: none;
}


/* Header */

.header {
    background-color: #f7e296;
}

.header__search__input{
    background-color: #f7e296;
    border: none;
    font-family: 'OpenSans-Light', sans-serif;
    font-size: 15px;
    color: #000000;
}

.authorization {
    list-style: none;
}

.header-user-nav {
    list-style: none;
}

.header-user-nav a {
    list-style: none;
    font-family: 'OpenSans-Light', sans-serif;
    font-size: 15px;
    color: #000000;
}

.sign-out {
    border: none;
    background-color: transparent;
}

.compare,
.basket,
.profile {
    position: relative;
    display: flex;
    align-items: center;
}

.compare span,
.basket span,
.profile span {
    margin-left: 20px;
    font-family: 'OpenSans-Light', sans-serif;
    font-size: 15px;
    color: #000000;
}

.compare:hover,
.basket:hover,
.profile:hover {
    opacity: 0.6;
}

.compare:active,
.basket:active,
.profile:active {
    opacity: 0.3;
}

.profile {
    border: none;
    background-color: transparent;
}

.profile::before {
    content: '';
    height: 12px;
    width: 13px;
    background: url('img/svg/user.svg') no-repeat;
}

.compare::before {
    content: '';
    height: 10px;
    width: 10px;
    background: url('img/svg/compare.svg') no-repeat;
}

.basket::before {
    content: '';
    height: 12px;
    width: 12px;
    background: url('img/svg/cart.svg') no-repeat;
}

.nav {
    font-family: 'Gilroy-ExtraBold';
    font-size: 18px;
    color: #000000;
}

.nav__list {
    list-style:none;
}

.nav__list a {
    font-family: inherit;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
    transition: color .3s;
}

.nav__list a:hover {
    opacity: 0.6;
    transition: color .3s;
}

.nav__list a:active {
    opacity: 0.3;
}

.nav__list__catalog__list {
    list-style: none;
}

.nav__list__catalog__list a {
    list-style: none;
    font-family: "OpenSans-Light", sans-serif;
    text-transform: none;
    letter-spacing: 0;
    font-size: 15px;
    color: #000000;
}

.nav__list__catalog__icon {
    position: absolute;
    margin: 0 8px;
    margin-top: 3px;
    margin-left: 16px;
    width: 2px;
    height: 16px;
    background-color: #b8a974;
}

.nav__list__catalog__icon::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -7px;
    width: 16px;
    height: 2px;
    background-color: #b8a974;
}

.header__search {
    position: relative;
    display: flex;
    align-items: center;
}

.header__search::before {
    content: "";
    height: 16px;
    width: 16px;
    margin-right: 20px;
    background: url('img/svg/search.svg') no-repeat;
}

.header__search:focus {
    border-bottom: #000000 solid 2px;
}


/* Breadcrumbs */

.breadcrumbs__item {
    font-family: "OpenSans-Light", sans-serif;
    font-size: 14px;
    color: #000000;
    list-style: none;
    opacity: 0.6;
}

.breadcrumbs__item:hover {
    opacity: 1;
}

.breadcrumbs__item:active {
    opacity: 0.3;
}


/*Slider for mine */

.slider__nav {
    list-style: none;
}

.slider__nav__point {
    width: 12px;
    height: 12px;
    border: 1px solid #000000;
    border-radius: 6px;
    background-color: #ffffff;
}

.slider-title {
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: 47px;
    color: #000000;
}

.slider-text {
    font-family: "OpenSans-Light", sans-serif;
    line-height: 30px;
    font-size: 15px; 
}

.slider-list {
    list-style: none;
}

.slider-list li span {
    font-family: "Gilroy-Light", sans-serif;
    font-size: 36px;
}

.slider-list li p {
    font-family: "OpenSans-Light", sans-serif;
    font-size: 13px;
}


/* Popular product */

.catalog-popular {
    list-style: none;
    color: #000000;
}

.catalog-popular li {
    width: 160px;
}

.catalog-popular li::before{
    content: "";
    position: absolute;
    display: block;
    margin: 0;
    width: 160px;
    height: 160px;
    z-index: -1;
    background-color: #F8E296;
}

.catalog-popular li:hover::before {
    background-color: #f0c52e;
}

.catalog-popular li:active img {
    opacity: 0.3;
}

.catalog-popular li p {
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: 18px;
    color: inherit;
}

.catalog-popular li:active p {
    color: inherit;
    opacity: 0.3;
}


/* Services */

.services::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 286px;
    width: 100%;
    background-color: #E5E5E5;
}

.services__list {
    list-style: none;
}

.services__item a {
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: 18px;
    color: #000000;
}

.services__item {
    position: relative;
    width: 278px;
    margin-top: 50px;
}

.services__item a {
    font-family: "Golroy-ExtraBold", sans-serif;
    font-size: 18px;
    display: block;
    width: 160px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.services__item::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY( -50%);
    width: 160px;
    height: 8px;
    background-color: #f0c52e;
    transition: 0.3s;
    z-index: -1;
}

.services__item:hover::after {
    content: "";
    height: 40px;
    transition: 0.3s;
}

.services__item:active::after {
    content: "";
    height: 40px;
    width: 100%;
    background-color: #000000;
}

.services__item:active a {
    color: #f7e296;
}

.services__tabs{
    width: 680px;
}

.services__tabs p{
    font-family: "OpenSans-Light", sans-serif;
    line-height: 30px;
    font-size: 15px; 
}

.services__tabs__delivery::before {
    content: "";
    background: url('img/svg/delivery.svg') no-repeat;
    position: absolute;
    margin-left: 680px;
    height: 164px;
    width: 136px;
}

.services__tabs__guarantee::before {
    content: "";
    background: url('img/svg/warranty.svg') no-repeat;
    position: absolute;
    margin-left: 680px;
    height: 195px;
    width: 171px;
}

.services__tabs__credit::before {
    content: "";
    background: url('img/svg/credit.svg') no-repeat;
    position: absolute;
    margin-left: 680px;
    height: 188px;
    width: 156px;
}


/* Partners */

.logo-partners {
    list-style: none;
}

.logo-partners img {
    -webkit-filter: grayscale(100%);
    transition: .3s; 
}

.logo-partners img:hover {
    -webkit-filter: grayscale(0%);
}

.list-delivery {
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: 16px;
}


/* About */
.about p {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 15px;
    color: #000000;
}


/* Contacts */

.contacts p {
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 15px;
    color: #000000;
}


/* Filter */

.filter__title {
    background-color: #DCDCDC;
}

.filter__title p{
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000000;
}

.sort__item {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    color: #000000;
    opacity: 0.3;
}

.sort__item._active {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 14px;
    color: #000000;
    opacity: 1;
}

.sort__title {
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.filter__form__category label {
    font-family: "OpenSans-Light", sans-serif;
    font-size: 14px;
    color: #000000;
}


/* Card prew */

.catalog-prew__title {
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: 18px;
    color: #000000;
}

.catalog-prew__price {
    font-family: "Gilroy-Light", sans-serif;
    font-size: 16px;
    color: #464646;
}

.catalog-prew__compare {
    border: none;
    background-color: transparent;
    font-family: "OpenSans-Light", sans-serif;
    font-size: 13px;
    color: #000000;
    opacity: 0.6;
}

.catalog-prew__compare:hover {
    opacity: 1;
}

.catalog-prew__compare:active {
    opacity: 0.3;
}

.filter__form legend {
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: 18px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.catalog-prew__img:hover img {  
    opacity: 0.6;
}


/*Pagination*/

.pagination {
    list-style: none;
    display: flex;
    font-family: "Gilroy-ExtraBold", sans-serif;
    font-size: 16px;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 2px;
    height: 70px;
    background-color: #EBEBEB;
    align-items: center;
}

.pagination__item._active {
    opacity: 1;
}

.pagination__item {
    opacity: 0.3;
}

.pagination__item:hover {
    opacity: 0.6;
}

.pagination__item:active {
    opacity: 1;
}

.pagination li:first-child,
.pagination li:last-child {
    opacity: 1;
}

.pagination li:first-child:hover,
.pagination li:last-child:hover {
    height: 100%;
    padding: 0 30px;
    background-color: #D9D9D9;
}

.pagination li:first-child:active a,
.pagination li:last-child:active a {
    opacity: 0.6;
}


/* Footer */

.footer {
    background-color: #464646;
    color: #ffffff;
}

.footer__logo:hover {
    opacity: 0.6;
}

.footer__logo:active {
    opacity: 0.3;
}

.footer__user-nav {
    list-style: none;
}

.profile-footer,
.compare-footer,
.basket-footer {
    position: relative;
    display: flex;
    align-items: center;
}

.compare-footer span,
.basket-footer span,
.profile-footer span{
    font-family: "OpenSans-Light", sans-serif;
    font-size: 15px;
    color: #ffffff;
}

.compare-footer:hover,
.basket-footer:hover,
.profile-footer:hover {
    opacity: 0.6;
}

.compare-footer:active,
.basket-footer:active,
.profile-footer:active {
    opacity: 0.3;
}

.profile-footer {
    border: none;
    background-color: transparent;
}

.profile-footer::before {
    content: ""; 
    padding: 0;
    margin-right: 20px; 
    height: 12px;
    width: 12px;
    background: url('img/svg/user-footer.svg') no-repeat;
}

.compare-footer::before {
    content: "";
    margin-right: 20px; 
    height: 10px;
    width: 10px;
    background: url('img/svg/compare-footer.svg') no-repeat;
}

.basket-footer::before {
    content: "";
    margin-right: 20px; 
    height: 12px;
    width: 12px;
    background: url('img/svg/cart-footer.svg') no-repeat;
}

.footer__nav {
    list-style: none;
    font-family: "Gilroy-ExtraBold";
    font-size: 18px;
}

.footer__nav a {
    color: #ffffff;
    letter-spacing: 2px;
}

.footer__social {
    list-style: none;
}

.footer__social li {
    opacity: 0.3;
}

.footer__social li:hover {
    opacity: 0.6;
}

.footer__social li:active {
    opacity: 0.1;
}

.footer__social__fb{
    background: url("img/svg/fb.svg") no-repeat;
    height: 32px;
    width: 32px;
}

.footer__social__in{
    background: url("img/svg/instagram.svg") no-repeat;
    height: 32px;
    width: 32px;
}

.footer__social__tw{
    background: url("img/svg/twitter.svg") no-repeat;
    height: 32px;
    width: 32px;
}
